Repository kanade0404/game-blog-v2: changes, and which lefthook commands are due for each by the changed paths.
All: lint, cspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx,json}"
      run: pnpm dlx @biomejs/biome check {staged_files}
    cspell:
      glob: "*"
      exclude: "(pnpm-lock.yaml|package.json)"
      run: pnpm cspell lint {staged_files}

run Lockfile is up to date, resolution step is skipped Already up to date
  pnpm-lock.yaml
Due: none

:+1: run `pnpm i` :sparkles: run `pnpm i`
  pnpm-lock.yaml
Due: none

:sparkles: run `pnpm i`
  pnpm-lock.yaml
Due: none

:+1: run `pnpm i`
  pnpm-lock.yaml
Due: none

set range sttrategy
  renovate.json
Due: lint, cspell

:sparkles: run `pnpm update --interactive`
  package.json
  pnpm-lock.yaml
Due: lint

:sparkles: update to latest
  cspell.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  schema.json
  tsconfig.json
Due: lint, cspell

:sparkles: remove frozen lockfile option
  .github/workflows/ci.yml
Due: cspell

:sparkles: fix pnpm version
  .github/workflows/ci.yml
Due: cspell

:sparkles: pnpmを9.2に固定
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
Due: cspell

:sparkles: fix pnpm version
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
Due: cspell

:bug: downgrade pnpm/action-setup
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
Due: cspell

:sparkles: @storybook/testing-libraryから移行する
  .prototools
  package.json
  pnpm-lock.yaml
Due: lint, cspell

:shower: Vercel Speed Insights導入とパフォーマンス改善
  app/components/Ad/Multiplex.tsx
  app/components/ArticleList/index.tsx
  app/layout.tsx
  lib/schema/schema.graphql
  next-env.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  vercel.json
Due: lint, cspell

:sparkles: productionで@next/bundle-analyzerを読まないようにする
  next.config.js
Due: lint, cspell

:up: upgrade nodejs
  .prototools
Due: cspell

resolve conflict
  pnpm-lock.yaml
Due: none

:tada: Update Next.js 15
  .gitignore
  .prototools
  .storybook/preview.ts
  app/api/draft/route.ts
  app/article/[id]/page.tsx
  app/components/Article/Article.tsx
  app/components/Article/article.module.css
  app/components/Article/article.module.scss
  app/components/ArticleList/ArticleList.tsx
  app/components/ArticleList/article_list.module.css
  app/components/ArticleList/article_list.module.scss
  app/components/Content.tsx
  app/components/Layout/Footer.tsx
  app/components/Layout/Header.tsx
  app/components/Layout/HeaderList.tsx
  app/components/Layout/footer.module.css
  app/components/Layout/footer.module.scss
  app/components/Layout/header.module.css
  app/components/Layout/header.module.scss
  app/components/Main.tsx
  app/components/Profile/SNS/index.tsx
  app/components/Profile/SNS/sns.module.css
  app/components/Profile/SNS/sns.module.scss
  app/components/Profile/index.tsx
  app/components/Profile/profile.module.css
  app/components/Profile/profile.module.scss
  app/components/content.module.css
  app/components/content.module.scss
  app/components/main.module.css
  app/components/main.module.scss
  app/global.css
  app/global.scss
  app/layout.tsx
  app/styles/article/page.css
  cspell.json
  dictionary.txt
  lib/graphql/getArticle.ts
  next.config.js
  package.json
  pnpm-lock.yaml
Due: lint, cspell

:sparkles: できるだけコンテナクエリに寄せる
  app/components/Article/article.module.css
  app/components/Layout/footer.module.css
  app/components/Layout/header.module.css
  app/components/content.module.css
  package.json
Due: lint, cspell

Add category search functionality with sidebar and category filtering page
  app/category/[id]/category.module.css
  app/category/[id]/page.tsx
  app/components/CategoryList/CategoryList.tsx
  app/components/CategoryList/categoryList.module.css
  app/components/CategoryList/index.tsx
  app/components/Content.tsx
  app/components/content.module.css
  lib/graphql/getCategoryList.ts
  lib/schema/categoryList.graphql
  lib/schema/schema.graphql
Due: lint, cspell

Fix type error in category page component
  app/category/[id]/page.tsx
Due: lint, cspell

Fix PageProps interface in category page component
  app/category/[id]/page.tsx
Due: lint, cspell
